{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/driver.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <title>Safar Admin Panel</title>
</head>
<body> 
    
    <section>
        <h1>Coupon</h1><br>
        
        <div style="display: inline;">
          <a href="/" class="homebtn"><i class="fa fa-home fa-3x fa-inverse" aria-hidden="true" id="ic"></i></a>

        <a href="{% url 'createcoupons' %}" class="homebtn crtbtn">
          <i class="fa fa-plus fa-3x fa-inverse" aria-hidden="true"></i>
        </a>
        </div>

        <br><br><br>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="1">
            <div class="tbl-header">
                <thead>
                    <tr>
                      <th>Code</th>
                      <th>user/'s</th>
                      <th>Discount Amount</th>
                      <th>Valid From</th>
                      <th>Valid up to</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                </div>
            <tbody>
              {% for i in coup %}
            <tr>
              <td>{{ i.code }}</td> 

              <td>{% for j in i.user.all %}
                ○ {{ j }} <br>
                {% endfor %}
              </td>

              <td>{{ i.amount }}</td> 
              <td>{{ i.valid_from }}</td> 
              <td>{{ i.valid_up_to }}</td> 
              <td><a href="{% url 'deletecoupons' i.id %}">delete</a></td>  

            </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </section>
      
      
<script>
    // '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>
</body>
</html>
