#pan{
  background: #2E8B57;
  color: white;
  border-color: #2E8B57;
}
#pan:hover{
  background-color: gray;
}

.kk{
  background: white;
  color: #2E8B57;
}

.kk:hover{
  color: #1c5534;
}

#morris-bar-chart {
  -webkit-transition: all 2s; /* Safari */
  transition: all 2s;
}

#morris-table-left-div {
  /*height: 350px;
  overflow: hidden;*/
}
.header-row {
  padding: 0 18px;
}
.header-column {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: inline-block;
  font-weight: 300;
  color: #555;
  /*border: 1px solid grey;*/
  padding: 0px;
  width: 24%;
  box-sizing: border-box; /*content-box|border-box|initial|inherit;*/
}
.list-group-column {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: inline-block;
  font-weight: 300;
  color: #555;
  /*border: 1px solid grey;*/
  padding: 0px;
  width: 24%;
}

#h2{
  color: white;
}

#lbtn{
  margin-top: -24px;
  margin-left: 30px;
  color: black;
}
#licon{
  margin-left: 23px;
}

#aar:hover{
  background-color: gray;
}

#aar:focus{
  background-color: gray;
}
#aar:visited{
  background-color: gray;
}

.bd{
  border: 1px solid red;
  width: 100%;
  background-color: #1c5534;
  color: red;
}