body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
}

#wrapper{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
}

#page-wrapper{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
}

.navbar{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
}
.navbar-top-links{
  background: -webkit-linear-gradient(left, #25b7c4, #25b7c4);
  background: linear-gradient(to right, #25b7c4, #25b7c4);
}
.sidebar{
  background: -webkit-linear-gradient(left, #25c481, #25c481);
  background: linear-gradient(to right, #25c481, #25c481);
}

.nav-second-level{
  background: -webkit-linear-gradient(left, #25c481, #25c481);
  background: linear-gradient(to right, #25c481, #25c481);
}

.kk{
  background: -webkit-linear-gradient(left, #25c481, #25c481);
  background: linear-gradient(to right, #25c481, #25c481);
  color: #0d47a1;
}


#morris-bar-chart {
  -webkit-transition: all 2s; /* Safari */
  transition: all 2s;
}

#morris-table-left-div {
  /*height: 350px;
  overflow: hidden;*/
}
.header-row {
  padding: 0 18px;
}
.header-column {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: inline-block;
  font-weight: 300;
  color: #555;
  /*border: 1px solid grey;*/
  padding: 0px;
  width: 24%;
  box-sizing: border-box; /*content-box|border-box|initial|inherit;*/
}
.list-group-column {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: inline-block;
  font-weight: 300;
  color: #555;
  /*border: 1px solid grey;*/
  padding: 0px;
  width: 24%;
}

#h2{
  color: rgb(39, 34, 34);
}

#lbtn{
  margin-top: -24px;
  margin-left: 30px;
  color: black;
}
#licon{
  margin-left: 23px;
}